.form_box {
    overflow: hidden;
    display: block;
    width: 50%;
    border-radius: 5px;
    background-color: gray;
    padding: 5px;
    box-shadow: (-1px, -1px, 1px, 0) black;
    margin: 0px auto;
}

.form_box form {
    font-size: 20px;
    outline: none;
    font-weight: bold;
    border: 1px solid black;
    margin: 2%;
    border-radius: 2% auto;
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-bottom: 8px;
}

.form_box input[type="text"] {
    font-size: large;
    outline: none;
    font-weight: bold;
    padding: 2px;
    border-top: 1px solid #090b0d;
	border-right: 2px solid #424549;
	border-bottom: 2px solid #424549;
	border-left: 1px solid #090b0d;
    margin: 10px 1em;
    border-radius: 3px;
    text-align: center;
}

.form_box p {
	color: #13161B;
	width: 50%;
	margin: 0 auto;
    text-align: center;
    font-weight: bolder;
}

ul {list-style: none;}